@charset "ISO-8859-1";


/* imported CSS stylesheet */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* In our demo, the footers are fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
	text-align: center;
	padding: 10px;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
/* imported css stylesheet end*/

.operator-top{
	background-color: #e3dfed;
	padding:20px;
}
.operator-bottom{
	background-color: #b2edbe;
	padding:20px;
}

h1{
	text-align:center;
}


#plus_button{
	background-color:#3674f7;
	padding:55px;
	text-align:center;
}

#minus_button{
	background-color:#3cb030;
	padding:55px;
	text-align:center;
}

#times_button{
	background-color:#cc2ed1;
	padding:55px;
	text-align:center;
}

#division_button{
	background-color:#ff3300;
	padding:55px;
	text-align:center;
}

.operator_buttons{
	color:white;
}

.operation_info{
	background-color: #d3d7f2;
	padding: 80px;
	border-style:solid;
	border-width:1px;
	border-color:black;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#login{
	text-align:center;
	background-color: rgba(72,254,244,0.28);
}

.answer_form{
	display: inline-block;
}